Experiement Sampling

In [31]:
import pandas as pd
import numpy as np
import faker

Fake case: 

Every customer service agent has a customer rating. To reduce customer complaints and improve rating, the company plans to roll out a X hour training. Before scaling up the program, the company would like to run an experiement to see whether the training helps reduce customer complaints.

Step 1 Create a dummy sample data set

In [63]:
fake = faker.Faker()

# function to create a dataframe with fake values for our workers
def create_agents(num):
    
    state = [fake.state() for x in range(10)]

    agents = [{'Agent ID': x + 1000,
                  'Agent Name': fake.name(), 
                #   'Agent Tenure': int(np.random.uniform(0, 1000, 1)), 
                #   'State': np.random.choice(state),
                  'Compliant Rate': np.random.rand() * 0.5, # complaint rate between 0 and 50%, uniform dist.
                  'Customer Calls': int(np.random.uniform(0, 2000, 1)) # customer calls received between 0 and 2000, uniform dist.
                  } for x in range(num)
                ]
        
    return agents

df_agent = pd.DataFrame(create_agents(num = 1000))
df_agent.head()

   Agent ID         Agent Name  Compliant Rate  Customer Calls
0      1000  Lawrence Williams        0.463068             460
1      1001      Miguel Joseph        0.358190             361
2      1002         Carol Gill        0.201657            1334
3      1003        Susan Lyons        0.274271             177
4      1004   Stephen Thompson        0.380912             118

     Agent ID            Agent Name  Compliant Rate  Customer Calls
0        1000     Lawrence Williams        0.463068             460
1        1001         Miguel Joseph        0.358190             361
2        1002            Carol Gill        0.201657            1334
3        1003           Susan Lyons        0.274271             177
4        1004      Stephen Thompson        0.380912             118
5        1005        Tina Henderson        0.211038             616
6        1006            James Bass        0.386049             314
7        1007          Robert Pratt        0.076698             166
8        1008           James Scott        0.156969            1820
9        1009        Thomas Coleman        0.090810             533
10       1010          Adam Wilkins        0.379038            1065
11       1011       Jennifer Dudley        0.316432            1954
12       1012           Olivia Diaz        0.085588             842
13       1013      Elizabeth Parker        0.048129            1411
14       1014           Frank Brown        0.232385              85
15       1015      Elizabeth Ali MD        0.024567             103
16       1016          Xavier Duran        0.070507              65
17       1017         Paul Mcknight        0.481676             852
18       1018         Gerald Melton        0.196064             504
19       1019        Matthew Murphy        0.266941             117
20       1020       Amanda Williams        0.370848            1673
21       1021  Christopher Thompson        0.007190             309
22       1022        Dennis Wilkins        0.256215             564
23       1023          Joseph Lopez        0.455391             377
24       1024           Cindy Davis        0.473535             752
25       1025        Johnny Hampton        0.132294            1482
26       1026           Nancy Baker        0.385913            1893
27       1027    Jacqueline Escobar        0.433882            1231
28       1028           James Moore        0.049206            1419
29       1029           David Nunez        0.491076            1446
..        ...                   ...             ...             ...
970      1970         Erica Raymond        0.440818             367
971      1971        Melissa Walker        0.367380             679
972      1972       Joseph Martinez        0.255990             368
973      1973        Michael Fuller        0.463884            1746
974      1974         Jacob Cochran        0.291180            1659
975      1975       Jeffrey Sanchez        0.304693            1373
976      1976       Benjamin Wagner        0.195102             247
977      1977           Jeremy Best        0.042327             509
978      1978          Eric Ramirez        0.156411             954
979      1979           John Morris        0.400248             727
980      1980      Brittany Carlson        0.332132            1126
981      1981      Patrick Caldwell        0.320718            1281
982      1982   Christopher Johnson        0.246592            1315
983      1983    Gabrielle Cisneros        0.175031             300
984      1984          Sara Perkins        0.170192            1942
985      1985       Deanna Hamilton        0.132998            1737
986      1986          Kara Miranda        0.265522            1941
987      1987            Sydney Cox        0.472867            1599
988      1988           Troy Fuller        0.474528             705
989      1989        Bailey Johnson        0.396237            1802
990      1990          Kevin Martin        0.154869             958
991      1991      Michael Castillo        0.460553            1142
992      1992    Stephanie Chambers        0.004898             125
993      1993       Teresa Morrison        0.279286             247
994      1994           Chad Waller        0.248296            1929
995      1995           Kelly Cooke        0.499809             887
996      1996          Jose Collins        0.375155             796
997      1997        Bradley Sparks        0.450712             992
998      1998            Lisa Perez        0.358828            1324
999      1999             Kim Davis        0.375058            1463

[1000 rows x 4 columns]